<header>
    <div class="card bg-dark text-white">
        <img class="cover" src="~/images/lapazcover.jpg" alt="cover" asp-append-version="true">
        <div class="card-img-overlay text-center caption">
            <h1 class="card-title">
                CHOOSE YOUR FULL-TIME PROGRAM
            </h1>
            <h2 class="card-text">Bring life to learning</h2>
        </div>
    </div>
</header>
