@{
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Courses</h1>
        <p class="lead">List of all registered courses.</p>
    </div>
</div>

<div class="container">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="~/images/cover_courses/cover_course1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="no-padding card-title">Programming I</h5>
                <p class=" card-text"><medium class="text-muted">COMP-100</medium></p>
                <p class="card-text">COMP100 is an introductory course in programming. It includes programming concepts, logic and program structures.</p>
                <p class="card-text">Season: <medium class="text-muted">Winter</medium></p>
                <p class="card-text">Sections: <medium class="text-muted">001, 002, 003</medium></p>
                <p class="card-text">Status: <span class="badge badge-success">Open</span></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/cover_courses/cover_course2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="no-padding card-title">Software Engineering Fundamentals</h5>
                <p class=" card-text"><medium class="text-muted">COMP-120</medium></p>
                <p class="card-text">This course introduces common terminologies, tools, and techniques used in software engineering which form the basis for advanced studies.</p>
                <p class="card-text">Season: <medium class="text-muted">Summer</medium></p>
                <p class="card-text">Sections: <medium class="text-muted">001, 003, 005</medium></p>
                <p class="card-text">Status: <span class="badge badge-success">Open</span></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/cover_courses/cover_course3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="no-padding card-title">Web Interface Design</h5>
                <p class=" card-text"><medium class="text-muted">COMP-213</medium></p>
                <p class="card-text">In this first level web course the student will learn how to access the resources of the Internet, use HTML and CSS to publish high-quality Web documents.</p>
                <p class="card-text">Season: <medium class="text-muted">Summer</medium></p>
                <p class="card-text">Sections: <medium class="text-muted">001, 003, 005</medium></p>
                <p class="card-text">Status: <span class="badge badge-danger">Closed</span></p>
            </div>
        </div>
        <div class="card">
                <img class="card-img-top" src="~/images/cover_courses/cover_course4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="no-padding card-title">Unix/Linux Operating Systems</h5>
                <p class=" card-text"><medium class="text-muted">COMP-101</medium></p>
                <p class="card-text">This course covers basic operating system concepts using Linux. Coursework emphasizes File management, UNIX utilities and developing scripts</p>
                <p class="card-text">Season: <medium class="text-muted">Winter</medium></p>
                <p class="card-text">Sections: <medium class="text-muted">001, 002, 003</medium></p>
                <p class="card-text">Status: <span class="badge badge-success">Open</span></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/cover_courses/cover_course5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="no-padding card-title">Software Engineering Methodologies 1</h5>
                <p class=" card-text"><medium class="text-muted">COMP-225</medium></p>
                <p class="card-text">This project-based course emphasizes Business Analysis. Students are introduced to Software Development methodologies and Development Cycle (SDLC) namely Agile, Unified Process and SCRUM</p>
                <p class="card-text">Season: <medium class="text-muted">Fall</medium></p>
                <p class="card-text">Sections: <medium class="text-muted">001, 004, 008</medium></p>
                <p class="card-text">Status: <span class="badge badge-danger">Closed</span></p>
            </div>
        </div>
    </div>
</div>

