
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">WHO WE ARE</h1>
        <p class="lead">Learn a living. In your field. Your community. Anywhere. We’ll help you get there. With more accredited programs, pioneering research projects and partnerships that offer semesters or placements abroad. An education rooted in the principles of global citizenship, equity and social inclusion. All at Centennial College.</p>
    </div>
</div>

<div class="elements center container space-between">

    <h1 class="text-center featurette-heading">FIND OUT MORE</h1>

    <div class="row space-between">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/library.jpg" alt="image" width="140" height="140" asp-append-version="true">
            <h2>Library</h2>
            <p>Office Administration - Health Services program at Centennial College, instructed by its super-talented professors, is a platform that shapes a rewarding career in the health industry for newbies or anyone who prefers to enhance their existing knowledge</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/security.jpg" alt="image" width="140" height="140" asp-append-version="true">
            <h2>Security</h2>
            <p>Office Administration - Health Services program at Centennial College, instructed by its super-talented professors, is a platform that shapes a rewarding career in the health industry for newbies or anyone who prefers to enhance their existing knowledge</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/images/fees.jpg" alt="image" width="140" height="140" asp-append-version="true">
            <h2>Tuition and Fees </h2>
            <p>Office Administration - Health Services program at Centennial College, instructed by its super-talented professors, is a platform that shapes a rewarding career in the health industry for newbies or anyone who prefers to enhance their existing knowledge</p>
        </div>
    </div>
</div>

<div class="container"> <hr /> </div>

<div class="media container space-between">
    <img class="mr-3 rounded photo-id" src="~/images/profile_photo.png" alt="photo_image">
    <div class="media-body">
        <h5 class="no-padding">Carlos Zabaleta</h5>
        <p class="no-padding text-muted">@@CZabalet</p>
        <p class="no-padding">"There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors." #css #responsive</p>
        <time datetime="2019-1-1">22:09 PM - 28 Sep 2018</time>
    </div>
</div>