
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Insert Course</h1>
        <p class="lead">You can insert a new course that will be displayed in the display page.</p>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_Form-BasedInputs.cshtml")